* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url(../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot),
    /*url(../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg),*/
    url(../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf),
    url(../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff),
    url(../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff2);
}

html, 
body, 
.map-canvas {
    height: 100%;
    width: 100%;
}

.navbar {
    margin-bottom: 0;
}

.list-group {
    width: 350px;
    /*margin-left: 20px;*/
    opacity: 0.9;
    position: absolute;
    z-index: 999;
}
